/* -----------------------------------------------------------
 Header
-------------------------------------------------------------- */
.header {
    padding: 20px 0;
}

.header > .container {
    padding-bottom: 20px;
    border-bottom: 4px solid #f37128;
}

.main-nav {
    margin-bottom: 10px;
}

.main-nav > li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #f37128;
}

.main-nav > li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}

.main-nav > li > a {
    color: #717272;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}