/* -----------------------------------------------------------
 Header
-------------------------------------------------------------- */
.header {
    padding: 20px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    background: white;
}

.header > .container {
    padding-bottom: 20px;
    border-bottom: 4px solid #f37128;
}

.main-nav {
    margin-bottom: 10px;
}

.main-nav > li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #f37128;
}

.main-nav > li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}

.main-nav > li > a {
    color: #717272;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

/* -----------------------------------------------------------
 Home
-------------------------------------------------------------- */
.home-col {
    margin-bottom: 30px;
    text-align: center;
}

.home-section {
    padding-top: 133px;
}

.home-section .col-sm-4:last-child a:hover {
    cursor: default;
}

/* -----------------------------------------------------------
 Random
-------------------------------------------------------------- */
.page-section {
    padding-top: 133px;
}
/* -----------------------------------------------------------
 Single
-------------------------------------------------------------- */
.sidebar p {
    font-family: Helvetica, Arial, serif;
    font-size: 13px;
}

/* -----------------------------------------------------------
 Footer
-------------------------------------------------------------- */
.footer {
    padding: 25px 0;
}